@font-face {
  font-family: 'RW-r';
  src: url('Raleway-Regular.ttf');
}
@font-face {
  font-family: 'RW-s';
  src: url('Raleway-SemiBold.ttf');
}
@font-face {
  font-family: 'RW-l';
  src: url('Raleway-Light.ttf');
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
button.navbar {
  position: fixed;
  top: 0;
  right: 0;
  margin: 16px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
button.navbar:hover,
button.navbar:focus {
  fill: #c7332c;
}
nav#menu {
  font-family: RW-l;
  right: -100%;
  display: flex;
  position: fixed;
  background-color: #240023;
  z-index: 200;
  height: 100%;
  width: 440px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: right 0.3s;
  -moz-transition: right 0.3s;
  -webkit-transition: right 0.3s;
  -o-transition: right 0.3s;
}
nav#menu button.navbar {
  fill: white;
  position: absolute;
}
nav#menu button.navbar:hover,
nav#menu button.navbar:focus {
  fill: #c7332c;
}
nav#menu svg {
  clip-path: circle(92px);
}
nav#menu div {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
nav#menu div h2 {
  padding-bottom: 6px;
  margin-bottom: 8px;
  border-bottom: solid 2px white;
}
nav#menu div input[type=button] {
  margin-top: 6px;
  color: white;
  font-size: 24px;
  background: transparent;
  border: none;
}
nav#menu div input[type=button]:hover,
nav#menu div input[type=button]:focus {
  color: #c7332c;
}
@media (max-width: 767px) {
  nav#menu div {
    align-items: center;
  }
}
@media (max-width: 767px) {
  nav#menu {
    width: 100%;
  }
}
span#overlay {
  display: none;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), transparent;
  z-index: 100;
  height: 100%;
  width: 100%;
}
header {
  font-family: RW-r;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header svg {
  clip-path: circle(144px);
}
header div {
  margin: 24px;
}
header div h1 {
  font-size: 36px;
}
header div h2 {
  font-family: RW-l;
}
header div h3 {
  margin-top: 8px;
  color: #c7332c;
}
@media (max-width: 767px) {
  header {
    flex-direction: column;
  }
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main section {
  font-family: RW-r;
  height: auto;
  width: calc((292px * 3) + (12px * 6));
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "about spångaMacka specialMacka" "about pizza specialpizza" "pp mexpiz sal";
}
@media (max-width: 991px) {
  main section {
    width: calc((292px * 2) + (12px * 4));
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "about about" "spångaMacka specialMacka" "pizza specialpizza" "pp mexpiz" "sal .";
  }
}
@media (max-width: 631px) {
  main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main section article {
  position: relative;
  grid-area: spm;
  margin: 12px;
  background: orange;
  height: 244px;
  width: 292px;
}
main section article h2 {
  margin: 8px 14px 2px 14px;
  margin-bottom: 2px;
}
main section article p {
  padding-top: 6px;
  border-top: solid 1px black;
  margin: 6px 12px 6px 12px;
}
main section article p#tel {
  border: none;
  font-family: RW-s;
  width: 268px;
  position: absolute;
  bottom: 0;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
main section article#spångaMacka {
  grid-area: spångaMacka;
}
main section article#specialMacka {
  grid-area: specialMacka;
}
main section article#pizza {
  grid-area: pizza;
}
main section article#specialpizza {
  grid-area: specialpizza;
}
main section article#pp {
  grid-area: pp;
}
main section article#mexpiz {
  grid-area: mexpiz;
}
main section article#sal {
  grid-area: sal;
}
main section article#about {
  grid-area: about;
  height: calc((244px * 2) + (2 * 12px));
}
@media (max-width: 991px) {
  main section article#about {
    height: 244px;
    width: calc((292px * 2) + (2 * 12px));
  }
}
@media (max-width: 631px) {
  main section article#about {
    height: calc((244px * 2) + (2 * 12px));
    min-width: 292px;
    width: 92%;
    height: auto;
  }
}
@media (max-width: 631px) {
  main section article {
    width: 92%;
    min-height: 122px;
    height: auto;
    min-width: 200px;
  }
}
