@tablet: ~'(max-width: 991px)';
@phone: ~'(max-width: 767px)';
@sPhone: ~'(max-width: 631px)';

.font-face(@font-family, @filepath){
    @font-face {
        font-family: @font-family;
        src: url('@{filepath}.ttf');
    }
}
.font-face('RW-r', 'Raleway-Regular');
.font-face('RW-s', 'Raleway-SemiBold');
.font-face('RW-l', 'Raleway-Light');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
button.navbar {
    position: fixed;
    top: 0;
    right: 0;
    margin: 16px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    &:hover, &:focus {
        fill: #c7332c;
    }
}
nav#menu {
    font-family: RW-l;
    right: -100%;
    display: flex;
    position: fixed;
    background-color: rgb(36, 0, 35);
    z-index: 200;
    height: 100%;
    width: 440px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: right 0.3s;
    -moz-transition: right 0.3s;
    -webkit-transition: right 0.3s;
    -o-transition: right 0.3s;
    button.navbar {
        fill: white;
        position: absolute;
        &:hover, &:focus {
            fill: #c7332c;
        }
    }
    svg {
        clip-path: circle(92px);
    }
    div {
        margin: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        h2 {
            padding-bottom: 6px;
            margin-bottom: 8px;
            border-bottom: solid 2px white
        }
        input[type=button] {
            margin-top: 6px;
            color: white;
            font-size: 24px;
            background: transparent;
            border: none;
            &:hover, &:focus {
                color: #c7332c;
            }
        }
        @media @phone {
            align-items: center;
        }
    }
    @media @phone {
        
        width: 100%;
    }
}
span#overlay {
    display: none;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), transparent;
    z-index: 100;
    height: 100%;
    width: 100%;
}
header {
    font-family: RW-r;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    svg {
        clip-path: circle(144px);
    }
    div {
        margin: 24px;
        h1 {
            font-size: 36px;
        }
        h2 {
            font-family: RW-l;
        }
        h3 {
            margin-top: 8px;
            color: #c7332c;
        }
    }
    @media @phone {
        flex-direction: column;
    }
}
@margin: 12px;
@height: 244px;
@width: 292px;
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    section {
        font-family: RW-r;
        height: auto;
        width: calc((@width * 3) + (@margin * 6));
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "about spångaMacka specialMacka"
            "about pizza specialpizza"
            "pp mexpiz sal";
        @media @tablet {
            width: calc((@width * 2) + (@margin * 4));
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-template-areas: 
            "about about"
            "spångaMacka specialMacka"
            "pizza specialpizza"
            "pp mexpiz"
            "sal ."
        }
        @media @sPhone {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        article {
            position: relative;
            grid-area: spm;
            margin: @margin;
            background: orange;
            height: @height;
            width: @width;
            h2 {
                margin: 8px 14px 2px 14px;
                margin-bottom: 2px;
            }
            p {
                padding-top: 6px;
                border-top: solid 1px black;
                margin: 6px 12px 6px 12px;
                &#tel {
                    border: none;
                    font-family: RW-s;
                    width: @width - 24px;
                    position: absolute;
                    bottom: 0;
                    margin-bottom: 16px;
                    display: flex;
                    justify-content: space-between;
                }
            }
            &#spångaMacka {
                grid-area: spångaMacka;
            }
            &#specialMacka {
                grid-area: specialMacka;
            }
            &#pizza {
                grid-area: pizza;
            }
            &#specialpizza {
                grid-area: specialpizza;
            }
            &#pp {
                grid-area: pp;
            }
            &#mexpiz {
                grid-area: mexpiz;
            }
            &#sal {
                grid-area: sal;
            }
            &#about {
                grid-area: about;
                height: calc((@height * 2) + (2 * @margin));
                @media @tablet {
                    height: @height;
                    width: calc((@width * 2) + (2 * @margin));
                }
                @media @sPhone {
                    height: calc((@height * 2) + (2 * @margin));
                    min-width: @width;
                    width: 92%;
                    height: auto;
                }
            }
            @media @sPhone {
                width: 92%;
                min-height: @height / 2;
                height: auto;
                min-width: 200px;
            }
        }
    }
}
