@font-face {
  font-family: 'RW-r';
  src: url('Raleway-Regular.ttf');
}
@font-face {
  font-family: 'RW-s';
  src: url('Raleway-SemiBold.ttf');
}
@font-face {
  font-family: 'RW-l';
  src: url('Raleway-Light.ttf');
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
button {
  background: none;
  padding: none;
  border: none;
}
button:active {
  border: none;
}
button.navbar {
  z-index: 150;
  background: white;
  position: fixed;
  margin: 16px;
  right: 0;
  top: 0;
  border-radius: 3px;
  border: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  fill: black;
}
button.navbar:hover,
button.navbar:focus {
  fill: #ff0000;
  border: solid 2px #ff0000;
}
nav#menu {
  box-shadow: -5px 0px 5px #181717;
  font-family: RW-l;
  right: -100%;
  display: flex;
  position: fixed;
  background-color: #240023;
  z-index: 200;
  height: 100%;
  width: 440px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: right 0.3s;
  -moz-transition: right 0.3s;
  -webkit-transition: right 0.3s;
  -o-transition: right 0.3s;
  -ms-transition: right 0.3s;
}
nav#menu button.navbar {
  top: 0;
  right: 0;
  position: absolute;
  background: transparent;
  margin: 16px;
  border-radius: 3px;
  border: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  fill: white;
}
nav#menu button.navbar:hover,
nav#menu button.navbar:focus {
  fill: #ff0000;
  border: solid 2px #ff0000;
}
nav#menu svg {
  clip-path: circle(92px);
}
nav#menu div {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
nav#menu div h2 {
  padding-bottom: 6px;
  margin-bottom: 8px;
  border-bottom: solid 2px white;
}
nav#menu div input[type=button] {
  margin-top: 6px;
  color: white;
  font-size: 24px;
  background: transparent;
  border: none;
}
nav#menu div input[type=button]:hover,
nav#menu div input[type=button]:focus {
  color: #c7332c;
}
@media (max-width: 767px) {
  nav#menu div {
    align-items: center;
  }
}
@media (max-width: 767px) {
  nav#menu {
    width: 100%;
    box-shadow: none;
  }
}
div#itemOverlay {
  top: 0;
  right: 0;
  display: none;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 100;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 250;
}
div#itemOverlay button.close {
  z-index: 300;
  top: 0;
  right: 0;
  position: absolute;
  background: transparent;
  margin: 16px;
  border-radius: 3px;
  border: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  fill: white;
}
div#itemOverlay button.close:hover,
div#itemOverlay button.close:focus {
  fill: #ff0000;
  border: solid 2px #ff0000;
}
div#itemOverlay article {
  border-radius: 3px;
  max-width: 368px;
  min-width: 188px;
  padding: 24px 16px;
  max-height: 64%;
  font-family: RW-r;
  overflow: scroll;
  background: white;
}
div#itemOverlay article h2 {
  margin-bottom: 8px;
}
div#itemOverlay article p {
  overflow: hidden;
  margin: 8px;
  margin-bottom: 16px;
}
span#overlay {
  left: -100%;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), transparent;
  z-index: 100;
  height: 100%;
  width: 100%;
  transition: left 0.2s;
  -moz-transition: left 0.2s;
  -webkit-transition: left 0.2s;
  -o-transition: left 0.2s;
  -ms-transition: left 0.2s;
}
header {
  font-family: RW-r;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header svg {
  clip-path: circle(144px);
}
header div {
  margin: 24px;
}
header div h1 {
  font-size: 36px;
}
header div button {
  transition: border-bottom 0.3s;
  border-bottom: solid 3px transparent;
}
header div button:focus,
header div button:hover {
  border-bottom: solid 3px #ff0000;
}
header div h2 {
  font-family: RW-l;
}
header div h3 {
  margin-top: 8px;
  color: #c7332c;
}
@media (max-width: 767px) {
  header {
    flex-direction: column;
  }
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main section {
  font-family: RW-r;
  height: auto;
  width: calc((292px * 3) + (12px * 6));
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "about spångaMacka specialMacka" "about pizza specialpizza" "pp sal mexpiz ";
}
@media (max-width: 991px) {
  main section {
    width: calc((292px * 2) + (12px * 4));
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "about about" "spångaMacka specialMacka" "pizza specialpizza" "pp mexpiz" "sal .";
  }
}
@media (max-width: 631px) {
  main section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main section button,
main section article {
  position: relative;
  grid-area: spm;
  margin: 12px;
  background: whitesmoke;
  border: solid 1px rgba(36, 35, 35, 0.35);
  border-radius: 3px;
  color: white;
  filter: saturate(30%);
  -webkit-filter: saturate(30%);
  -moz-filter: saturate(30%);
  -o-filter: saturate(30%);
  -ms-filter: saturate(30%);
  height: 244px;
  width: 292px;
}
main section button:hover,
main section article:hover,
main section button:focus,
main section article:focus {
  box-shadow: 0px 6px 5px rgba(36, 35, 35, 0.92);
  transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  filter: saturate(100%);
  -webkit-filter: saturate(100%);
  -o-filter: saturate(100%);
  -ms-filter: saturate(100%);
}
main section button h2,
main section article h2 {
  margin: 8px 14px 2px 14px;
  margin-bottom: 2px;
}
main section button p,
main section article p {
  padding-top: 6px;
  border-top: solid 1px black;
  margin: 6px 12px 6px 12px;
}
main section button div#tel,
main section article div#tel {
  width: 292px;
  position: absolute;
  bottom: 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main section button div#tel p,
main section article div#tel p {
  display: inline;
  margin: 0px 12px;
  width: auto;
  font-size: 14px;
  border-top: n;
  border: none;
  font-family: RW-s;
}
main section button#spångaMacka,
main section article#spångaMacka {
  grid-area: spångaMacka;
  background-image: url("/.images/p1.jpg");
  background-size: cover;
}
main section button#specialMacka,
main section article#specialMacka {
  grid-area: specialMacka;
  background-image: url("/.images/p2.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section button#specialMacka h1,
main section article#specialMacka h1 {
  font-size: 92px;
}
main section button#pizza,
main section article#pizza {
  font-family: RW-s;
  grid-area: pizza;
  background-image: url("/.images/p7.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section button#pizza h1,
main section article#pizza h1 {
  font-size: 92px;
}
main section button#specialpizza,
main section article#specialpizza {
  grid-area: specialpizza;
  background-image: url("/.images/p3.jpg");
  background-size: cover;
}
main section button#pp,
main section article#pp {
  grid-area: pp;
  background-image: url("/.images/p4.jpg");
  background-size: cover;
}
main section button#mexpiz,
main section article#mexpiz {
  grid-area: mexpiz;
  background-image: url("/.images/p6.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section button#mexpiz h1,
main section article#mexpiz h1 {
  font-size: 98px;
  text-align: center;
}
@media (max-width: 767px) {
  main section button#mexpiz h1,
  main section article#mexpiz h1 {
    font-size: 64px;
  }
}
main section button#sal,
main section article#sal {
  grid-area: sal;
  background-image: url("/.images/p5.jpg");
  background-size: cover;
}
main section button#about,
main section article#about {
  color: black;
  grid-area: about;
  height: calc((244px * 2) + (2 * 12px));
}
@media (max-width: 991px) {
  main section button#about,
  main section article#about {
    height: 244px;
    width: calc((292px * 2) + (2 * 12px));
  }
}
@media (max-width: 631px) {
  main section button#about,
  main section article#about {
    height: calc((244px * 2) + (2 * 12px));
    min-width: 292px;
    width: 92%;
    height: auto;
  }
}
@media (max-width: 991px) {
  main section button div#tel,
  main section article div#tel {
    width: 584px;
  }
}
@media (max-width: 631px) {
  main section button,
  main section article {
    width: 92%;
    min-height: 122px;
    height: auto;
    min-width: 200px;
  }
  main section button div#tel,
  main section article div#tel {
    width: inherit;
    position: relative;
  }
}
footer {
  margin-top: 12px;
  width: 100%;
  padding: 42px 0px;
  background: #242323;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: RW-l;
  color: white;
}
footer h1 {
  margin-bottom: 8px;
  font-size: 14px;
}
footer h2 {
  font-size: 12px;
}
